*{
    margin: 0%;
}
.caption{
    text-align: center;
    padding-top: 10px;
	padding-bottom: 10px;
    background-color: white;
    border-radius: 0 0 40px 40px;
    
}
.menu-item{
    display: inline;
	padding: 30px;

}
.link{
    text-decoration-color: white; 
    color:white;
}
.menu{
    background-color:#00264d; 
		text-align: center;
		height: 45px;
		padding-top: 14px;
		font-size: 24px;
		padding-bottom: 5px;
		margin :0px;
}
footer{
	padding-top: 65px;
	margin: 0px;
}
.menu-footer{
	background-color: black;
	text-align: center;
	margin: 0px;
	font-size: 22px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.menu-item-footer{
	display: inline;
	padding: 20px;
}

.link-footer{
	text-decoration-color: white;
	color:white;
	text-decoration: none;
}
#form-heading{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 32px;
	text-align: center;
}

.p{
    text-align: justify;
}

#captions{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 19px;
}
